<div class="container">
    <h1>Categories</h1>

    <table class="table">
        <tr>
            <td>ID</td>
            <td>Nome</td>
        </tr>
    <% @categories.each do |cat| %>
        <tr>
            <td><%= cat.id %></td>
            <td><%= cat.name %></td>
        </tr>
    <% end %>
    </table>
</div>
